@inject UserManager<AppUser> _userManager;

@using CodeGoApp.Areas.Identity.Data;
@using CodeGoApp.ViewModels;
@using Microsoft.AspNetCore.Identity;
@model ChatViewModel

@{

    <h1>Show Messages with @Model.ReceiverUser.FirstName</h1>

    <div class="message-list">
        @foreach (var message in Model.Messages)
        {
            <div class="message">
                @if (message.Sender.UserName == _userManager.GetUserName(User))
                {
                    <p><strong>You:</strong> @message.MessageText | @message.SentTime.Hour:@message.SentTime.Minute</p>

                }
                else
                {
                    <p><strong>@message.Sender.FirstName:</strong> @message.MessageText | @message.SentTime.Hour:@message.SentTime.Minute</p>
                }
            </div>
        }
    </div>
    <a asp-action="Messenger" asp-controller="Chat" asp-route-id="@Model.ReceiverUser.Id">Chat</a>
}