@using CodeGoApp.Areas.Identity.Data;
@using CodeGoApp.ViewModels
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;
@inject UserManager<AppUser> _userManager;

@model List<UserViewModel>

<h1>User List</h1>

<link rel="stylesheet" href="~/css/user-cards.css" />

<div class="user-cards">
    @foreach (var user in Model)
    {
        <div class="user-card">
            <h2>@user.FirstName @user.LastName</h2>
            <p><strong>ID:</strong> @user.Id</p>
            <p><strong>Email:</strong> @user.Email</p>
            <p><strong>Languages:</strong> @user.Languages</p>
            <a asp-area="Chat" asp-action="Index" asp-controller="Home" asp-route-id ="@user.Id">Chat</a>
        </div>
    }
</div>
